.menu a {
    width: 100%;
    float: right;
    color:black;
    text-align: right;
    padding: 22px 30px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}
.header{padding-bottom: 50px;} 

.hello{
    font-size: 50px;
    color: #363958;
}
.name{
    font-size: 50px;
    color: #FF8367;
}

.half-width {
    width: 30%;
    float: left;
    margin-left: 7%;
    padding: 2%;
    border-style: solid;
}

.LinkButton{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white; 
    font-weight: bold;
}